/* Keep this if you need a container style for your app */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

/* Remove everything else since it's related to the Vite starter template:
- .logo styles (not using any logos)
- logo-spin animation
- .card styles
- .read-the-docs styles
*/
